.modalContainer{
    padding: 3rem;
    
  }
  
  .link{
    text-decoration: none;
    color: inherit;
    
  }


  .singlePosts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .contentModal{
    width: 25rem;
    height: 30rem;
    box-shadow: 5px 5px 50px #7a7a7a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
  }
  
  .contentModal:hover{
    opacity: 0.9;
    background-color: #bebebe;
    cursor: pointer;
    transition: 0.1s linear;
  }
  
    .postDetails{
    min-height: 15rem;
    padding: 0rem 1rem;
    padding-bottom: 1rem;
    }
  
  .postCategory{
    text-transform: uppercase;
    color: #FF5722;
    padding-top: 1rem;
    font-weight: 500;
  }

  
  .postImage{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    max-width: 100%;
  }
  
  .postTitle{
    font-size: 20px;
    font-weight: 900;
  }
  
  .postDescription{
    font-size: 15px;
    font-weight: 400;
    padding-top: 0.3rem;
  }

