.container{
  background-color: #cecece;
  width: 100vw;
  height: 100vh;
}

.logo{
  max-width: 5rem;
}

.economyInfo{
  color: #FFF;
  background-color: #000;
  height: 2rem;
  display: flex;
  align-items: center;

}

.singlePosts{
  list-style: none;
  display: flex;
}

.coinItem{
  padding: 2rem;

}



