.container{
  background-color: #cecece;
  width: 100vw;
  height: 100vh;
}

.logo{
  max-width: 5rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF5722  ;
  padding: 2rem 5rem;
}

.logoTitle{
  display: flex;
  align-items: center;
  font-size: 45px;
  color: #FFF;
}

.headerMenu{
  list-style: none;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFF;
}

.menuItem{
  cursor: pointer;
  padding: 0rem 1.5rem;
  transition: .2s all;
}

.menuItem:hover{
  color: #cecece;
  text-shadow: 10px 10px 50px #FFF;
}

.economyInfo{
  color: #000;
}

.modalContainer{
  
  margin: 5rem;
}

.link{
  text-decoration: none;
  color: inherit;
  
}

.contentModal{
  max-width: 25rem;
  box-shadow: 5px 5px 50px #7a7a7a;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.contentModal:hover{
  opacity: 0.9;
  background-color: #bebebe;
  cursor: pointer;
  transition: 0.1s linear;
}

  .postDetails{
    padding: 0rem 1rem;
    padding-bottom: 1rem;
  }

.postCategory{
  text-transform: uppercase;
  color: #FF5722;
  padding-top: 1rem;
  font-weight: 500;
}

.postImage{
  width: 100%;
}

.postTitle{
  font-size: 20px;
  font-weight: 900;
}

.postDescription{
  font-size: 15px;
  font-weight: 400;
  padding-top: 0.3rem;
}


